In [10]:
import findspark
findspark.add_packages("graphframes:graphframes:0.8.0-spark3.0-s_2.12")
findspark.init()
import pyspark
import os
os.environ['PYSPARK_SUBMIT_ARGS']="--master local[2] pyspark-shell"
sc = pyspark.SparkContext(appName = "MyAPP")
from pyspark.sql.functions import *
from pyspark.sql.session import SparkSession
spark = SparkSession(sc)
sc.addPyFile('/home/msbd5003/graphframes-0.8.0-spark3.0-s_2.12.jar')

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=MyAPP, master=local[2]) created by __init__ at <ipython-input-1-c8576e7c5b10>:7

In [23]:
import pandas as pd
import numpy as np
from datetime import date
from pyspark.sql.types import FloatType
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType

In [24]:
coupon3 = spark.read.csv('data/coupon3_feature.csv',header=True, inferSchema=True)
merchant3 = spark.read.csv('data/merchant3_feature.csv',header=True, inferSchema=True)
user3 = spark.read.csv('data/user3_feature.csv',header=True, inferSchema=True)
user_merchant3 = spark.read.csv('data/user_merchant3.csv',header=True, inferSchema=True)
other_feature3 = spark.read.csv('data/other_feature3.csv',header=True, inferSchema=True)

In [25]:
coupon1 = spark.read.csv('data/coupon1_feature.csv',header=True, inferSchema=True)
merchant1 = spark.read.csv('data/merchant1_feature.csv',header=True, inferSchema=True)
user1 = spark.read.csv('data/user1_feature.csv',header=True, inferSchema=True)
user_merchant1 = spark.read.csv('data/user_merchant1.csv',header=True, inferSchema=True)
other_feature1 = spark.read.csv('data/other_feature1.csv',header=True, inferSchema=True)

In [26]:
coupon2 = spark.read.csv('data/coupon2_feature.csv',header=True, inferSchema=True)
merchant2 = spark.read.csv('data/merchant2_feature.csv',header=True, inferSchema=True)
user2 = spark.read.csv('data/user2_feature.csv',header=True, inferSchema=True)
user_merchant2 = spark.read.csv('data/user_merchant2.csv',header=True, inferSchema=True)
other_feature2 = spark.read.csv('data/other_feature2.csv',header=True, inferSchema=True)

In [27]:
dataset3 = coupon3.join(merchant3,'Merchant_id')
dataset3 = dataset3.join(user3,'User_id')
#print("2")
#print(dataset3.columns)
dataset3 = dataset3.join(user_merchant3,['User_id','Merchant_id'])
#print("3")
#print(dataset3.columns)
dataset3 = dataset3.join(other_feature3,['User_id','Coupon_id','Date_received','Merchant_id'])
#print("4")
#print(dataset3.columns)
print(dataset3.count())
# only drop the row that is completely the same
dataset3 = dataset3.dropDuplicates()
print(dataset3.count())

1930723
7500

In [28]:
null_re = udf(lambda x: 0 if(x == 'null') else x)
weekend = udf(lambda x: 1 if(x in (6,7)) else 0)

In [29]:
dataset3 = dataset3.withColumn('User_merchant_buy_total', null_re(col('User_merchant_buy_total')))
dataset3 = dataset3.withColumn('User_merchant_any', null_re(col('User_merchant_any')))
dataset3 = dataset3.withColumn('User_merchant_received', null_re(col('User_merchant_received')))
dataset3 = dataset3.withColumn('Is_weekend', weekend(col('Day_of_week')))

Next session is to get weekdays dummies and concatenate dummies and original DF
hard to concat two spark DF, if find solution, 
then no need to tranfer to Pandas DF.

In [30]:
#dataset3_pd = dataset3.toPandas()
#weekday_dummies = pd.get_dummies(dataset3_pd.Day_of_week)
#weekday_dummies.columns = ['Weekday'+str(i+1) for i in range(weekday_dummies.shape[1])]
#print(weekday_dummies)
#dataset3_temp = spark.createDataFrame(pd.concat([dataset3_pd,weekday_dummies],axis=1))
#print(dataset3_temp)

      Weekday1  Weekday2  Weekday3  Weekday4  Weekday5  Weekday6  Weekday7
0            0         1         0         0         0         0         0
1            0         0         0         0         0         1         0
2            0         0         0         0         1         0         0
3            0         0         0         0         1         0         0
4            0         0         0         0         1         0         0
5            0         0         0         0         0         0         1
6            1         0         0         0         0         0         0
7            0         0         1         0         0         0         0
8            0         0         0         0         0         0         1
9            0         0         0         0         0         0         1
10           0         0         0         0         0         0         1
11           0         0         0         0         1         0         0
12           0         0         1         0         0         0         0
13           0         0         0         0         0         0         1
14           0         0         0         1         0         0         0
15           0         0         0         0         1         0         0
16           0         0         0         0         1         0         0
17           1         0         0         0         0         0         0
18           0         0         1         0         0         0         0
19           0         0         0         0         1         0         0
20           0         0         0         1         0         0         0
21           0         0         1         0         0         0         0
22           0         0         0         0         0         1         0
23           0         0         1         0         0         0         0
24           0         0         0         0         1         0         0
25           0         0         1         0         0         0         0
26           0         1         0         0         0         0         0
27           0         1         0         0         0         0         0
28           1         0         0         0         0         0         0
29           0         0         0         0         0         0         1
...        ...       ...       ...       ...       ...       ...       ...
7470         0         0         0         0         1         0         0
7471         0         0         0         1         0         0         0
7472         0         0         0         0         0         1         0
7473         0         0         1         0         0         0         0
7474         0         1         0         0         0         0         0
7475         0         0         0         0         0         1         0
7476         0         0         0         1         0         0         0
7477         0         1         0         0         0         0         0
7478         0         0         0         0         0         0         1
7479         0         0         0         0         0         0         1
7480         0         0         0         0         0         1         0
7481         0         0         0         0         0         1         0
7482         0         0         1         0         0         0         0
7483         1         0         0         0         0         0         0
7484         0         0         1         0         0         0         0
7485         0         0         0         1         0         0         0
7486         1         0         0         0         0         0         0
7487         0         0         0         1         0         0         0
7488         0         1         0         0         0         0         0
7489         0         0         0         0         0         1         0
7490         0         0         0         1         0         0         0
7491         0         0         0         0         0         0         1
7492         1         0         0         0         0         0         0
7493         0         0         0         0         1         0         0
7494         0         0         0         0         1         0         0
7495         0         0         0         0         0         1         0
7496         0         0         0         0         1         0         0
7497         1         0         0         0         0         0         0
7498         0         1         0         0         0         0         0
7499         0         0         0         0         0         1         0

[7500 rows x 7 columns]
DataFrame[User_id: bigint, Coupon_id: bigint, Date_received: bigint, Merchant_id: bigint, Discount_rate: string, Distance: string, Day_of_week: bigint, Day_of_mouth: bigint, Days_distance: bigint, Coupon_count: bigint, Total_sales: bigint, Sales_use_coupon: bigint, Total_coupon: bigint, Merchant_min_distance: bigint, Merchant_max_distance: bigint, Merchant_mean_distance: double, Merchant_median_distance: bigint, Merchant_coupon_transfer_rate: double, Coupon_rate: double, count_merchant: bigint, user_min_distance: bigint, user_max_distance: bigint, user_mean_distance: double, user_median_distance: bigint, buy_use_coupon: bigint, buy_total: bigint, coupon_received: bigint, avg_user_date_datereceived_gap: double, min_user_date_datereceived_gap: bigint, max_user_date_datereceived_gap: bigint, buy_use_coupon_rate: double, User_merchant_buy_total: string, User_merchant_received: string, User_merchant_buy_use_coupon: bigint, User_merchant_any: string, User_merchant_buy_common: bigint, User_merchant_coupon_transfer_rate: double, User_merchant_coupon_buy_rate: double, User_merchant_coupon_rate: double, User_merchant_coupon_common_rate: double, Month_Receive_same_coupon_count: bigint, Month_Receive_all_coupon_count: bigint, Month_same_coupon_lastone: bigint, Month_same_coupon_firstone: bigint, Day_Receive_all_coupon_count: bigint, Day_Receive_same_coupon_count: bigint, Label_merchant_coupon_count: bigint, Label_user_merchant_coupon_count: bigint, Coupon_count_later: bigint, Is_weekend: string, Weekday1: bigint, Weekday2: bigint, Weekday3: bigint, Weekday4: bigint, Weekday5: bigint, Weekday6: bigint, Weekday7: bigint]

In [31]:
weekday = dataset3.select('Day_of_week').distinct().rdd.flatMap(lambda x:x).collect()
exprs = [when(col('Day_of_week') == i,1).otherwise(0)\
            .alias(('Weekday'+str(i))) for i in weekday]
dataset3 = dataset3.select(exprs+dataset3.columns)
#print(dataset3)
dataset3.select('Weekday2','Weekday7','Weekday4','Weekday6','Weekday5','Weekday1','Weekday3').show()

DataFrame[Weekday1: int, Weekday6: int, Weekday3: int, Weekday5: int, Weekday4: int, Weekday7: int, Weekday2: int, User_id: int, Coupon_id: int, Date_received: int, Merchant_id: int, Discount_rate: string, Distance: string, Day_of_week: int, Day_of_mouth: int, Days_distance: int, Coupon_count: int, Total_sales: int, Sales_use_coupon: int, Total_coupon: int, Merchant_min_distance: int, Merchant_max_distance: int, Merchant_mean_distance: double, Merchant_median_distance: int, Merchant_coupon_transfer_rate: double, Coupon_rate: double, count_merchant: int, user_min_distance: int, user_max_distance: int, user_mean_distance: double, user_median_distance: int, buy_use_coupon: int, buy_total: int, coupon_received: int, avg_user_date_datereceived_gap: double, min_user_date_datereceived_gap: int, max_user_date_datereceived_gap: int, buy_use_coupon_rate: double, User_merchant_buy_total: string, User_merchant_received: string, User_merchant_buy_use_coupon: int, User_merchant_any: string, User_merchant_buy_common: int, User_merchant_coupon_transfer_rate: double, User_merchant_coupon_buy_rate: double, User_merchant_coupon_rate: double, User_merchant_coupon_common_rate: double, Month_Receive_same_coupon_count: int, Month_Receive_all_coupon_count: int, Month_same_coupon_lastone: int, Month_same_coupon_firstone: int, Day_Receive_all_coupon_count: int, Day_Receive_same_coupon_count: int, Label_merchant_coupon_count: int, Label_user_merchant_coupon_count: int, Coupon_count_later: int, Is_weekend: string]
+--------+--------+--------+--------+--------+--------+--------+
|Weekday2|Weekday7|Weekday4|Weekday6|Weekday5|Weekday1|Weekday3|
+--------+--------+--------+--------+--------+--------+--------+
|       1|       0|       0|       0|       0|       0|       0|
|       0|       0|       0|       1|       0|       0|       0|
|       0|       0|       0|       0|       1|       0|       0|
|       0|       0|       0|       0|       1|       0|       0|
|       0|       0|       0|       0|       1|       0|       0|
|       0|       1|       0|       0|       0|       0|       0|
|       0|       0|       0|       0|       0|       1|       0|
|       0|       0|       0|       0|       0|       0|       1|
|       0|       1|       0|       0|       0|       0|       0|
|       0|       1|       0|       0|       0|       0|       0|
|       0|       1|       0|       0|       0|       0|       0|
|       0|       0|       0|       0|       1|       0|       0|
|       0|       0|       0|       0|       0|       0|       1|
|       0|       1|       0|       0|       0|       0|       0|
|       0|       0|       1|       0|       0|       0|       0|
|       0|       0|       0|       0|       1|       0|       0|
|       0|       0|       0|       0|       1|       0|       0|
|       0|       0|       0|       0|       0|       1|       0|
|       0|       0|       0|       0|       0|       0|       1|
|       0|       0|       0|       0|       1|       0|       0|
+--------+--------+--------+--------+--------+--------+--------+
only showing top 20 rows

In [32]:

drop_list = ['Merchant_id', 'Day_of_week','Coupon_count']
dataset3 = dataset3.drop(*drop_list)
dataset3 = dataset3.replace('null',str(np.nan))
print(dataset3.columns)

['Weekday1', 'Weekday6', 'Weekday3', 'Weekday5', 'Weekday4', 'Weekday7', 'Weekday2', 'User_id', 'Coupon_id', 'Date_received', 'Discount_rate', 'Distance', 'Day_of_mouth', 'Days_distance', 'Total_sales', 'Sales_use_coupon', 'Total_coupon', 'Merchant_min_distance', 'Merchant_max_distance', 'Merchant_mean_distance', 'Merchant_median_distance', 'Merchant_coupon_transfer_rate', 'Coupon_rate', 'count_merchant', 'user_min_distance', 'user_max_distance', 'user_mean_distance', 'user_median_distance', 'buy_use_coupon', 'buy_total', 'coupon_received', 'avg_user_date_datereceived_gap', 'min_user_date_datereceived_gap', 'max_user_date_datereceived_gap', 'buy_use_coupon_rate', 'User_merchant_buy_total', 'User_merchant_received', 'User_merchant_buy_use_coupon', 'User_merchant_any', 'User_merchant_buy_common', 'User_merchant_coupon_transfer_rate', 'User_merchant_coupon_buy_rate', 'User_merchant_coupon_rate', 'User_merchant_coupon_common_rate', 'Month_Receive_same_coupon_count', 'Month_Receive_all_coupon_count', 'Month_same_coupon_lastone', 'Month_same_coupon_firstone', 'Day_Receive_all_coupon_count', 'Day_Receive_same_coupon_count', 'Label_merchant_coupon_count', 'Label_user_merchant_coupon_count', 'Coupon_count_later', 'Is_weekend']

In [33]:
dataset3.repartition(1).write.csv('dataset3.csv', header = True)

In [34]:
dataset2 = coupon2.join(merchant2,'Merchant_id')
dataset2 = dataset2.join(user2,'User_id')

dataset2 = dataset2.join(user_merchant2,['User_id','Merchant_id'])

dataset2 = dataset2.join(other_feature2,['User_id','Coupon_id','Date_received','Merchant_id'])

print(dataset2.count())
# only drop the row that is completely the same
dataset2 = dataset2.dropDuplicates()
print(dataset2.count())
print(dataset2.columns)

3352809
5594
['User_id', 'Coupon_id', 'Date_received', 'Merchant_id', 'Discount_rate', 'Distance', 'Date', 'Day_of_week', 'Day_of_mouth', 'Days_distance', 'Coupon_count', 'Total_sales', 'Sales_use_coupon', 'Total_coupon', 'Merchant_min_distance', 'Merchant_max_distance', 'Merchant_mean_distance', 'Merchant_median_distance', 'Merchant_coupon_transfer_rate', 'Coupon_rate', 'count_merchant', 'user_min_distance', 'user_max_distance', 'user_mean_distance', 'user_median_distance', 'buy_use_coupon', 'buy_total', 'coupon_received', 'avg_user_date_datereceived_gap', 'min_user_date_datereceived_gap', 'max_user_date_datereceived_gap', 'buy_use_coupon_rate', 'user_coupon_transfer_rate', 'User_merchant_buy_total', 'User_merchant_received', 'User_merchant_buy_use_coupon', 'User_merchant_any', 'User_merchant_buy_common', 'User_merchant_coupon_transfer_rate', 'User_merchant_coupon_buy_rate', 'User_merchant_coupon_rate', 'User_merchant_coupon_common_rate', 'Label_user_merchant_coupon_count', 'Label_merchant_coupon_count', 'Coupon_count_later', 'Month_Receive_same_coupon_count', 'Month_Receive_all_coupon_count', 'Month_same_coupon_lastone', 'Month_same_coupon_firstone', 'Day_Receive_all_coupon_count', 'Day_Receive_same_coupon_count']

In [35]:
dataset2 = dataset2.withColumn('User_merchant_buy_total', null_re(col('User_merchant_buy_total')))
dataset2 = dataset2.withColumn('User_merchant_any', null_re(col('User_merchant_any')))
dataset2 = dataset2.withColumn('User_merchant_received', null_re(col('User_merchant_received')))
dataset2 = dataset2.withColumn('Is_weekend', weekend(col('Day_of_week')))

In [36]:
split_col = udf(lambda x: 'null' if x is None else x.split(':'))
get_label = udf(lambda x: 0 if x[0]=='null' else (\
            1 if (date(int(float(x[0][0:4])), int(float(x[0][4:6])), int(float(x[0][6:8])))-date(int(float(x[1][0:4])),int(float(x[1][4:6])),int(float(x[1][6:8])))).days<=15\
              else -1))
add_date = udf(lambda x,y: 'null' if ((x is None) or (y is None)) else str(x)+':'+str(y))

In [73]:
#dataset2_pd = dataset2.toPandas()
#weekday_dummies = pd.get_dummies(dataset2_pd.Day_of_week)
#weekday_dummies.columns = ['Weekday'+str(i+1) for i in range(weekday_dummies.shape[1])]
#dataset2_pd
#dataset2 = spark.createDataFrame(pd.concat([dataset2_pd,weekday_dummies],axis=1))
#dataset2.select('Date').show(10)
#dataset2.select('Date_received').show(10)

weekday = dataset2.select('Day_of_week').distinct().rdd.flatMap(lambda x:x).collect()
exprs = [when(col('Day_of_week') == i,1).otherwise(0)\
            .alias(('Weekday'+str(i))) for i in weekday]
dataset2 = dataset2.select(exprs+dataset3.columns)
#print(dataset2)
dataset2.select('Weekday2','Weekday7','Weekday4','Weekday6','Weekday5','Weekday1','Weekday3').show()


###
dataset2 = dataset2.withColumn('Label',add_date(col('Date'),col('Date_received')))
dataset2.select('Label').show(10)
#dataset2.select('Label'),printSchema()
#dataset2 = dataset2.withColumn('Label',col('Label')+col('Date_received').cast(StringType()))
#dataset2.select('Label').show(10)
#dataset2.select('Label'),printSchema()
#print(dataset2.Label.)
#dataset2 = dataset2.withColumn('Label', col('Label').cast(StringType()))
#dataset2.select('Label').show(10)
dataset2 = dataset2.withColumn('Label',split_col(col('Label'))) 
dataset2.select('Label').show(10)
dataset2 = dataset2.withColumn('Label',get_label(col('Label')))
#dataset2.printSchema()
dataset2.select('Label').show(10)

+--------+
|    Date|
+--------+
|20160522|
|20160610|
|    null|
|    null|
|    null|
|    null|
|20160530|
|20160620|
|20160519|
|20160520|
+--------+
only showing top 10 rows

+-------------+
|Date_received|
+-------------+
|     20160521|
|     20160521|
|     20160516|
|     20160610|
|     20160525|
|     20160530|
|     20160516|
|     20160530|
|     20160519|
|     20160516|
+-------------+
only showing top 10 rows

+-----------------+
|            Label|
+-----------------+
|20160522:20160521|
|20160610:20160521|
|    null:20160516|
|    null:20160610|
|    null:20160525|
|    null:20160530|
|20160530:20160516|
|20160620:20160530|
|20160519:20160519|
|20160520:20160516|
+-----------------+
only showing top 10 rows

+--------------------+
|               Label|
+--------------------+
|[20160522, 20160521]|
|[20160610, 20160521]|
|    [null, 20160516]|
|    [null, 20160610]|
|    [null, 20160525]|
|    [null, 20160530]|
|[20160530, 20160516]|
|[20160620, 20160530]|
|[20160519, 20160519]|
|[20160520, 20160516]|
+--------------------+
only showing top 10 rows

+-----+
|Label|
+-----+
|    1|
|   -1|
|    0|
|    0|
|    0|
|    0|
|    1|
|   -1|
|    1|
|    1|
+-----+
only showing top 10 rows

In [74]:
drop_list = ['Merchant_id', 'Day_of_week','Coupon_count','Date','Date_recived','Coupon_id','Coupon_count']
dataset2 = dataset2.drop(*drop_list)                               
dataset2 = dataset2.replace('null',str(np.nan))
print(dataset2.columns)

['User_id', 'Date_received', 'Discount_rate', 'Distance', 'Day_of_mouth', 'Days_distance', 'Total_sales', 'Sales_use_coupon', 'Total_coupon', 'Merchant_min_distance', 'Merchant_max_distance', 'Merchant_mean_distance', 'Merchant_median_distance', 'Merchant_coupon_transfer_rate', 'Coupon_rate', 'count_merchant', 'user_min_distance', 'user_max_distance', 'user_mean_distance', 'user_median_distance', 'buy_use_coupon', 'buy_total', 'coupon_received', 'avg_user_date_datereceived_gap', 'min_user_date_datereceived_gap', 'max_user_date_datereceived_gap', 'buy_use_coupon_rate', 'user_coupon_transfer_rate', 'User_merchant_buy_total', 'User_merchant_received', 'User_merchant_buy_use_coupon', 'User_merchant_any', 'User_merchant_buy_common', 'User_merchant_coupon_transfer_rate', 'User_merchant_coupon_buy_rate', 'User_merchant_coupon_rate', 'User_merchant_coupon_common_rate', 'Label_user_merchant_coupon_count', 'Label_merchant_coupon_count', 'Coupon_count_later', 'Month_Receive_same_coupon_count', 'Month_Receive_all_coupon_count', 'Month_same_coupon_lastone', 'Month_same_coupon_firstone', 'Day_Receive_all_coupon_count', 'Day_Receive_same_coupon_count', 'Is_weekend', 'Weekday1', 'Weekday2', 'Weekday3', 'Weekday4', 'Weekday5', 'Weekday6', 'Weekday7', 'Label']

In [75]:
# could not convert string to float
dataset2.repartition(1).write.csv('dataset2.csv', header = True)

In [76]:
dataset1 = coupon1.join(merchant1,'Merchant_id')
dataset1 = dataset1.join(user1,'User_id')

dataset1 = dataset1.join(user_merchant1,['User_id','Merchant_id'])

dataset1 = dataset1.join(other_feature1,['User_id','Coupon_id','Date_received','Merchant_id'])

print(dataset1.count())
# only drop the row that is completely the same
dataset1 = dataset1.dropDuplicates()
print(dataset1.count())

3118743
1994

In [77]:
dataset1 = dataset1.withColumn('User_merchant_buy_total', null_re(col('User_merchant_buy_total')))
dataset1 = dataset1.withColumn('User_merchant_any', null_re(col('User_merchant_any')))
dataset1 = dataset1.withColumn('User_merchant_received', null_re(col('User_merchant_received')))
dataset1 = dataset1.withColumn('Is_weekend', weekend(col('Day_of_week')))

In [ ]:
#dataset1_pd = dataset1.toPandas()
#weekday_dummies = pd.get_dummies(dataset1_pd.Day_of_week)
#weekday_dummies.columns = ['Weekday'+str(i+1) for i in range(weekday_dummies.shape[1])]
#dataset1_pd
#dataset1 = spark.createDataFrame(pd.concat([dataset1_pd,weekday_dummies],axis=1))
#dataset1.select('Date').show(10)
#dataset1.select('Date_received').show(10)

weekday = dataset1.select('Day_of_week').distinct().rdd.flatMap(lambda x:x).collect()
exprs = [when(col('Day_of_week') == i,1).otherwise(0)\
            .alias(('Weekday'+str(i))) for i in weekday]
dataset1 = dataset1.select(exprs+dataset3.columns)
#print(dataset2)
dataset1.select('Weekday2','Weekday7','Weekday4','Weekday6','Weekday5','Weekday1','Weekday3').show()

In [78]:


###
dataset1 = dataset1.withColumn('Label',add_date(col('Date'),col('Date_received')))
dataset1.select('Label').show(10)
#dataset2.select('Label'),printSchema()
#dataset2 = dataset2.withColumn('Label',col('Label')+col('Date_received').cast(StringType()))
#dataset2.select('Label').show(10)
#dataset2.select('Label'),printSchema()
#print(dataset2.Label.)
#dataset2 = dataset2.withColumn('Label', col('Label').cast(StringType()))
#dataset2.select('Label').show(10)
dataset1 = dataset1.withColumn('Label',split_col(col('Label'))) 
dataset1.select('Label').show(10)
dataset1 = dataset1.withColumn('Label',get_label(col('Label')))
#dataset2.printSchema()
dataset1.select('Label').show(10)

+--------+
|    Date|
+--------+
|    null|
|20160607|
|20160420|
|20160506|
|    null|
|    null|
|    null|
|    null|
|    null|
|    null|
+--------+
only showing top 10 rows

+-------------+
|Date_received|
+-------------+
|     20160504|
|     20160514|
|     20160420|
|     20160429|
|     20160414|
|     20160422|
|     20160425|
|     20160425|
|     20160425|
|     20160429|
+-------------+
only showing top 10 rows

+-----------------+
|            Label|
+-----------------+
|    null:20160504|
|20160607:20160514|
|20160420:20160420|
|20160506:20160429|
|    null:20160414|
|    null:20160422|
|    null:20160425|
|    null:20160425|
|    null:20160425|
|    null:20160429|
+-----------------+
only showing top 10 rows

+--------------------+
|               Label|
+--------------------+
|    [null, 20160504]|
|[20160607, 20160514]|
|[20160420, 20160420]|
|[20160506, 20160429]|
|    [null, 20160414]|
|    [null, 20160422]|
|    [null, 20160425]|
|    [null, 20160425]|
|    [null, 20160425]|
|    [null, 20160429]|
+--------------------+
only showing top 10 rows

+-----+
|Label|
+-----+
|    0|
|   -1|
|    1|
|    1|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
+-----+
only showing top 10 rows

In [79]:
drop_list = ['Merchant_id', 'Day_of_week','Coupon_count','Date','Date_recived','Coupon_id','Coupon_count']
dataset1 = dataset1.drop(*drop_list)                               
dataset1 = dataset1.replace('null',str(np.nan))
#print(dataset1.columns)

In [80]:
dataset1.repartition(1).write.csv('dataset1.csv', header = True)